<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hệ thống giám sát hệ thống trộn vữa khô</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1 style="text-align: center;">Đại học Bách Khoa Hà Nội</h1>
        <h2 style="text-align: center;">Trường đại học Điện - Điện tử</h2>
        <img src="/images/bk.jpg" alt="Logo" style="display: block; margin: 0 auto; width: 100px; height: auto; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);">
        <h2 style="text-align: center;">Hệ thống giám sát hệ thống trộn vữa khô</h2>
        <h4 style="text-align: center;">Giáo viên hướng dẫn: T.s Đào Quý Thịnh</h4>
        <div style="position: relative; width: 100vw; height: 40vh">
            <h4 style="position: absolute; top: 0%; left: 40%;">Sinh viên thực hiện:</h4>
            <h4 style="position: absolute; top: 5%; left: 48%;">Bùi Quốc Tuấn - 20240307E</h4>
            <h4 style="position: absolute; top: 10%; left: 48%;">Nguyễn Xuân Vang - 20240308E</h4>
            <h4 style="position: absolute; top: 15%; left: 48%;">Trần Minh Đức - 20240073E</h4>
            <h4 style="position: absolute; top: 20%; left: 48%;">Lê Văn Thành - 20240227E</h4>
        </div>
    </header>
    <main style="text-align: center;">
        <button onclick="location.href='/mainpage';" style="padding: 10px 20px; font-size: 16px;">Đi đến Main Page</button>
    </main>
    <footer>
        <p>© 2024 MVC Node.js</p>
    </footer>
</body>
</html>