<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách Người dùng</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Đại học Bách Khoa Hà Nội</h1>
        <h2>Trường đại học Điện - Điện tử</h2>
        <img src="/images/bk.jpg" alt="Logo" style="width: 100px; height: auto;">
        <h2>Hệ thống giám sát hệ thống trộn vữa khô</h2>
        <h4>Giáo viên hướng dẫn: T.s Đào Quý Thịnh</h4>
        <h4>Sinh viên thực hiện: Bùi Quốc Tuấn - 20240307E</h4>
    </header>
    <main>
        <button onclick="location.href='/mainpage';" style="padding: 10px 20px; font-size: 16px;">Đi đến Main Page</button>
    </main>
    <footer>
        <p>© 2024 MVC Node.js</p>
    </footer>
</body>
</html>